In [6]:
from __future__ import print_function
import mastcasjobs

query = """select s.id, 
   o.objID, o.raStack, o.decStack, 
   m.gPSFFlux, m.gPSFFluxErr, m.gKronFlux, m.gKronFluxErr,
   m.rPSFFlux, m.rPSFFluxErr, m.rKronFlux, m.rKronFluxErr,
   m.iPSFFlux, m.iPSFFluxErr, m.iKronFlux, m.iKronFluxErr,
   m.zPSFFlux, m.zPSFFluxErr, m.zKronFlux, m.zKronFluxErr,
   m.yPSFFlux, m.yPSFFluxErr, m.yKronFlux, m.yKronFluxErr
into MyDB.PSdr2sourcesTile6
from MyDB.tile6 s
cross apply fGetNearbyObjEq(s.RAdeg,s.DEdeg,60.0) nb
inner join ObjectThin o on o.objid=nb.objid
inner join StackObjectAttributes m on o.objid=m.objid
where m.primaryDetection=1
"""
wsid = 1540641525
pwd = None
with open('/home/rt2122/pass/1.txt', 'r') as f:
    pwd = f.readline()[:-1]

In [7]:
jobs = mastcasjobs.MastCasJobs(userid=wsid, password=pwd, context="PanSTARRS_DR1")
results = jobs.quick(query, task_name="python cone search")
print(results)

      objID           raMean      decMean   ... zMeanPSFMag yMeanPSFMag
------------------ ------------ ----------- ... ----------- -----------
122861877184282370  187.7182957 12.38498652 ...      -999.0      -999.0
122851877124637737 187.71246038 12.38100607 ...     17.9304     17.5089
122881877112164157 187.71126291 12.40316557 ...      -999.0      -999.0
122881877085143466 187.70849952 12.40240408 ...     17.8751     17.6812
122871877068858435 187.70691412 12.39827131 ...     17.9392      -999.0
122881877105204765 187.71049852 12.40351376 ...      -999.0      -999.0
122881877095525205 187.70951816 12.40389163 ...      -999.0      -999.0
122851877090477761 187.70902684 12.38101662 ...     17.6221      -999.0
122851877018527082 187.70183402 12.38053199 ...      -999.0      -999.0
122851877062673559 187.70624931 12.37754559 ...      -999.0     18.1421
               ...          ...         ... ...         ...         ...
122871876946391889 187.69463294 12.39283827 ...      -999.0      -999.0
122871876941435711 187.69408039 12.39593305 ...     19.1839      -999.0
122871877012582071 187.70129458 12.39292787 ...      -999.0      -999.0
122871877026011277 187.70253777 12.39233837 ...     15.7681     16.9338
122871877062551436 187.70623044 12.39237139 ...      -999.0     15.1102
122871876945758919 187.69449749 12.39870483 ...      -999.0      -999.0
122881876951360506 187.69528774 12.40013142 ...      -999.0     17.7803
122851877008084336 187.70079968 12.37828008 ...     18.4389      -999.0
122861876952960254  187.6953359 12.38301399 ...      -999.0     18.6671
122851876947049923 187.69475786 12.38281845 ...     18.1394      -999.0
122861876946372059 187.69472326 12.38464777 ...     18.8606      -999.0
Length = 45 rows

In [9]:
import pandas as pd
tile6 = pd.read_csv('./tile6.csv')

In [11]:
tile6.reset_index(drop=True)
tile6.head()

   Unnamed: 0       RAdeg      DEdeg
0         295  227.061350  57.891783
1         299  238.134593  62.054477
2         303  218.838751  55.141350
3         306  223.248775  58.036577
4         309  246.903435  65.396317

In [12]:
tile6.to_csv('./tile6.csv')