In [1]:
from __future__ import print_function
import mastcasjobs

query = """select s.id, 
   o.objID, o.raStack, o.decStack, 
   m.gPSFFlux, m.gPSFFluxErr, m.gKronFlux, m.gKronFluxErr,
   m.rPSFFlux, m.rPSFFluxErr, m.rKronFlux, m.rKronFluxErr,
   m.iPSFFlux, m.iPSFFluxErr, m.iKronFlux, m.iKronFluxErr,
   m.zPSFFlux, m.zPSFFluxErr, m.zKronFlux, m.zKronFluxErr,
   m.yPSFFlux, m.yPSFFluxErr, m.yKronFlux, m.yKronFluxErr
into MyDB.PSdr2sourc::Ж:ЖesTile6
from MyDB.MyTable s
cross apply fGetNearbyObjEq(s.RAdeg,s.DEdeg,60.0) nb
inner join ObjectThin o on o.objid=nb.objid
inner join StackObjectAttributes m on o.objid=m.objid
where m.primaryDetection=1
"""
wsid = 1540641525
pwd = None
with open('/home/rt2122/pass/1.txt', 'r') as f:
    pwd = f.readline()[:-1]

In [35]:
import casjobs
jobs = casjobs.CasJobs(userid=wsid, password=pwd)
job_id = jobs.submit(query)
status = jobs.monitor(job_id)
print(status)

Exception: SubmitJob failed with status: 500

In [3]:
jobs = mastcasjobs.MastCasJobs(userid=wsid, password=pwd, context="PanSTARRS_DR1")
results = jobs.quick(query, task_name="python cone search")
print(results)

Exception: ExecuteQuickJob failed with status: 500

In [9]:
import pandas as pd
tile6 = pd.read_csv('./tile6.csv')

In [11]:
tile6.reset_index(drop=True)
tile6.head()

   Unnamed: 0       RAdeg      DEdeg
0         295  227.061350  57.891783
1         299  238.134593  62.054477
2         303  218.838751  55.141350
3         306  223.248775  58.036577
4         309  246.903435  65.396317

In [12]:
tile6.to_csv('./tile6.csv')

In [13]:
tile6.tail()

     Unnamed: 0    RAdeg   DEdeg
103        1008  280.878  79.832
104        1015  286.433  78.083
105        1027  295.429  77.162
106        1033  300.660  77.896
107        1038  302.476  77.742

In [14]:
tile6.shape

(108, 3)

In [15]:
tile6.to_csv('./index_tile6.csv')

In [18]:
tile6.index.max(), tile6.shape

(107, (108, 3))

In [22]:
tile6 = tile6.drop(['Unnamed: 0'], axis='columns')
tile6.head()

        RAdeg      DEdeg
0  227.061350  57.891783
1  238.134593  62.054477
2  218.838751  55.141350
3  223.248775  58.036577
4  246.903435  65.396317

In [27]:
tile6.to_csv('./index_tile6.csv')

In [25]:
tile6.index.min(), tile6.index.max()

(0, 107)

In [26]:
tile6.index += 1
tile6.head()

        RAdeg      DEdeg
1  227.061350  57.891783
2  238.134593  62.054477
3  218.838751  55.141350
4  223.248775  58.036577
5  246.903435  65.396317