In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import healpy as hp
import astropy
from astropy import units as u
from astropy.coordinates import SkyCoord

In [2]:
def obj_in_pix(nside, ra, dec):
    from math import pi, modf
    sc = SkyCoord(ra=ra*u.degree, dec=dec*u.degree, frame='icrs') 
    theta = sc.galactic.l.degree
    phi = sc.galactic.b.degree
    return hp.ang2pix(nside=2, nest=True, theta=theta, phi=phi, lonlat=True)

In [3]:
import pandas as pd

In [14]:
planck_z = pd.read_csv('../data_src/planck_z.csv')

In [15]:
list(planck_z)

['Unnamed: 0', 'Name', 'RAdeg', 'DEdeg', 'z', 'MSZ', 'MCXC', 'RedMAPPer']

In [16]:
planck_z.drop(['Unnamed: 0', 'MCXC', 'RedMAPPer'], axis='columns', inplace=True)

In [17]:
planck_z.head()

                 Name       RAdeg      DEdeg       z       MSZ
0  PSZ2 G000.04+45.13  229.190512  -1.017222  0.1198  3.962411
1  PSZ2 G000.13+78.04  203.558683  20.255990  0.1710  5.122391
2  PSZ2 G000.40-41.86  316.084485 -41.354169  0.1651  5.297053
3  PSZ2 G000.77-35.69  307.972844 -40.598725  0.3416  6.333562
4  PSZ2 G002.08-68.28  349.632431 -36.332559  0.1400  2.835297

In [18]:
planck_z['pix'] = None

In [19]:
for i in range(planck_z.shape[0]):
    pix = obj_in_pix(nside=2, ra=planck_z.iloc[i]['RAdeg'], dec=planck_z.iloc[i]['DEdeg'])
    planck_z.loc[i, 'pix'] = pix

In [20]:
planck_z.head()

                 Name       RAdeg      DEdeg       z       MSZ  pix
0  PSZ2 G000.04+45.13  229.190512  -1.017222  0.1198  3.962411    2
1  PSZ2 G000.13+78.04  203.558683  20.255990  0.1710  5.122391    3
2  PSZ2 G000.40-41.86  316.084485 -41.354169  0.1651  5.297053   34
3  PSZ2 G000.77-35.69  307.972844 -40.598725  0.3416  6.333562   16
4  PSZ2 G002.08-68.28  349.632431 -36.332559  0.1400  2.835297   32

In [24]:
planck_z.rename(columns={'MSZ':'M500'}, inplace=True)
planck_z.head()

                 Name       RAdeg      DEdeg       z      M500  pix
0  PSZ2 G000.04+45.13  229.190512  -1.017222  0.1198  3.962411    2
1  PSZ2 G000.13+78.04  203.558683  20.255990  0.1710  5.122391    3
2  PSZ2 G000.40-41.86  316.084485 -41.354169  0.1651  5.297053   34
3  PSZ2 G000.77-35.69  307.972844 -40.598725  0.3416  6.333562   16
4  PSZ2 G002.08-68.28  349.632431 -36.332559  0.1400  2.835297   32

In [ ]:
planck_z.to_csv('./planck_z.csv')

In [25]:
planck_z['Cat'] = 'planck_z'

In [26]:
planck_z.head()

                 Name       RAdeg      DEdeg       z      M500  pix       Cat
0  PSZ2 G000.04+45.13  229.190512  -1.017222  0.1198  3.962411    2  planck_z
1  PSZ2 G000.13+78.04  203.558683  20.255990  0.1710  5.122391    3  planck_z
2  PSZ2 G000.40-41.86  316.084485 -41.354169  0.1651  5.297053   34  planck_z
3  PSZ2 G000.77-35.69  307.972844 -40.598725  0.3416  6.333562   16  planck_z
4  PSZ2 G002.08-68.28  349.632431 -36.332559  0.1400  2.835297   32  planck_z

In [27]:
planck_no_z = pd.read_csv('../data_src/planck_no_z.csv')
planck_no_z.head()

,Unnamed: 0,Name,RAdeg,DEdeg,z,MSZ,MCXC,RedMAPPer
0,4,PSZ2 G002.04-22.15,291.359610,-36.517944,-1.0,0.0,,
1,9,PSZ2 G002.88-22.45,292.014768,-35.876093,-1.0,0.0,,
2,10,PSZ2 G003.21-76.04,358.351215,-33.293244,-1.0,0.0,,
3,18,PSZ2 G006.16-69.49,350.537519,-34.575214,-1.0,0.0,,
4,26,PSZ2 G007.67-43.18,318.179579,-36.084397,-1.0,0.0,,

In [28]:
planck_no_z['pix'] = None
for i in range(planck_no_z.shape[0]):
    planck_no_z.loc[i, 'pix'] = obj_in_pix(nside=2, 
                                           ra=planck_no_z.iloc[i]['RAdeg'], dec=planck_no_z.iloc[i]['DEdeg'])
planck_no_z.head()

,Unnamed: 0,Name,RAdeg,DEdeg,z,MSZ,MCXC,RedMAPPer,pix
0,4,PSZ2 G002.04-22.15,291.359610,-36.517944,-1.0,0.0,,,16
1,9,PSZ2 G002.88-22.45,292.014768,-35.876093,-1.0,0.0,,,16
2,10,PSZ2 G003.21-76.04,358.351215,-33.293244,-1.0,0.0,,,32
3,18,PSZ2 G006.16-69.49,350.537519,-34.575214,-1.0,0.0,,,32
4,26,PSZ2 G007.67-43.18,318.179579,-36.084397,-1.0,0.0,,,34

In [51]:
np.count_nonzero(planck_no_z == 6)

18

In [29]:
list(planck_no_z)

['Unnamed: 0',
 'Name',
 'RAdeg',
 'DEdeg',
 'z',
 'MSZ',
 'MCXC',
 'RedMAPPer',
 'pix']

In [30]:
planck_no_z.drop(['Unnamed: 0', 'MCXC', 'RedMAPPer'], axis='columns', inplace=True)
planck_no_z.rename(columns={'MSZ':'M500'}, inplace=True)
planck_no_z.head()

                 Name       RAdeg      DEdeg    z  M500  pix
0  PSZ2 G002.04-22.15  291.359610 -36.517944 -1.0   0.0   16
1  PSZ2 G002.88-22.45  292.014768 -35.876093 -1.0   0.0   16
2  PSZ2 G003.21-76.04  358.351215 -33.293244 -1.0   0.0   32
3  PSZ2 G006.16-69.49  350.537519 -34.575214 -1.0   0.0   32
4  PSZ2 G007.67-43.18  318.179579 -36.084397 -1.0   0.0   34

In [31]:
planck_no_z['Cat'] = 'planck_no_z'

In [54]:
planck_no_z.to_csv('./planck_no_z.csv')

In [32]:
mcxcwp = pd.read_csv('../data_src/mcxcwp.csv')

In [33]:
list(mcxcwp)

['Unnamed: 0', 'MCXC', 'OName', 'AName', 'RAdeg', 'DEdeg', 'z', 'M500']

In [34]:
mcxcwp['pix'] = None
for i in range(mcxcwp.shape[0]):
    mcxcwp.loc[i, 'pix'] = obj_in_pix(nside=2, 
                                           ra=mcxcwp.iloc[i]['RAdeg'], dec=mcxcwp.iloc[i]['DEdeg'])
mcxcwp.head()

,Unnamed: 0,MCXC,OName,AName,RAdeg,DEdeg,z,M500,pix
0,0,J0000.1+0816,RXC J0000.1+0816,UGC 12890 ...,0.030,8.274,0.0396,0.7373,38
1,1,J0000.4-0237,RXC J0000.4-0237,...,0.103,-2.625,0.0379,0.3297,38
2,2,J0001.6-1540,RXC J0001.6-1540,...,0.412,-15.681,0.1246,1.6557,32
3,5,J0003.2-3555,RXCJ0003.2-3555,A2717 ...,0.801,-35.927,0.0490,1.2016,44
4,7,J0004.9+1142,RXC J0004.9+1142,UGC 00032 ...,1.247,11.701,0.0761,1.3009,38

In [36]:
mcxcwp.drop(['Unnamed: 0', 'OName', 'AName'], axis='columns', inplace=True)
mcxcwp.rename(columns={'MCXC' : 'Name'}, inplace=True)

KeyError: "['Unnamed: 0' 'OName' 'AName'] not found in axis"

In [37]:
mcxcwp['Cat'] = 'mcxcwp'
mcxcwp.head()

           Name  RAdeg   DEdeg       z    M500  pix     Cat
0  J0000.1+0816  0.030   8.274  0.0396  0.7373   38  mcxcwp
1  J0000.4-0237  0.103  -2.625  0.0379  0.3297   38  mcxcwp
2  J0001.6-1540  0.412 -15.681  0.1246  1.6557   32  mcxcwp
3  J0003.2-3555  0.801 -35.927  0.0490  1.2016   44  mcxcwp
4  J0004.9+1142  1.247  11.701  0.0761  1.3009   38  mcxcwp

In [57]:
np.count_nonzero(mcxcwp['pix'] == 6)

50

In [59]:
mcxcwp.to_csv('./mcxcwp.csv')

In [20]:
rm30 = pd.read_csv('../data_src/RM30.csv')

In [22]:
rm30['RAdeg'] = rm30['RA']
rm30['DEdeg'] = rm30['DEC']

In [23]:
rm30.head()

,Unnamed: 0,Unnamed: 0.1,NAME,RA,DEC,LAMBDA,Z_SPEC,pix,RAdeg,DEdeg
0,1,1,RMJ164019.8+464241.5,250.082548,46.711531,199.53928,-1.000000,None,250.082548,46.711531
1,2,2,RMJ131129.5-012028.0,197.872957,-1.341116,164.71217,-1.000000,None,197.872957,-1.341116
2,3,3,RMJ090912.2+105824.9,137.300745,10.973595,174.70418,-1.000000,None,137.300745,10.973595
3,5,5,RMJ003208.2+180625.3,8.034265,18.107024,248.38571,-1.000000,None,8.034265,18.107024
4,7,7,RMJ100214.1+203216.6,150.558906,20.537949,151.36407,0.319619,None,150.558906,20.537949

In [24]:
rm30.drop(['RA', 'DEC'], axis='columns', inplace=True)

In [60]:
rm30['pix'] = None
for i in range(rm30.shape[0]):
    rm30.loc[i, 'pix'] = obj_in_pix(nside=2, 
                                           ra=rm30.iloc[i]['RAdeg'], dec=rm30.iloc[i]['DEdeg'])
rm30.head()

,Unnamed: 0,Unnamed: 0.1,NAME,LAMBDA,Z_SPEC,pix,RAdeg,DEdeg
0,1,1,RMJ164019.8+464241.5,199.53928,-1.000000,1,250.082548,46.711531
1,2,2,RMJ131129.5-012028.0,164.71217,-1.000000,15,197.872957,-1.341116
2,3,3,RMJ090912.2+105824.9,174.70418,-1.000000,10,137.300745,10.973595
3,5,5,RMJ003208.2+180625.3,248.38571,-1.000000,38,8.034265,18.107024
4,7,7,RMJ100214.1+203216.6,151.36407,0.319619,10,150.558906,20.537949

In [61]:
np.count_nonzero(rm30['pix'] == 6)

306

In [73]:
no_rm30 = planck_z[planck_z['pix'] == 6]

In [74]:
no_rm30.shape

(40, 11)

In [65]:
no_rm30.head()

,Unnamed: 0,Name,RAdeg,DEdeg,z,MSZ,MCXC,RedMAPPer,pix,theta,phi
295,434,PSZ2 G094.56+51.03,227.061350,57.891783,0.539200,5.867250,,RMJ150822.0+575515.2,6,1.65053,0.890646
299,439,PSZ2 G095.29+44.13,238.134593,62.054477,0.330785,4.034956,,,6,1.66317,0.770246
303,445,PSZ2 G096.14+56.24,218.838751,55.141350,0.139773,2.771250,,RMJ143528.5+550752.3,6,1.67812,0.981694
306,449,PSZ2 G096.83+52.49,223.248775,58.036577,0.317900,4.924279,J1452.9+5802,,6,1.69017,0.916144
309,452,PSZ2 G097.15+39.20,246.903435,65.396317,0.205800,2.944873,,,6,1.69559,0.684326

In [66]:
list(no_rm30)

['Unnamed: 0',
 'Name',
 'RAdeg',
 'DEdeg',
 'z',
 'MSZ',
 'MCXC',
 'RedMAPPer',
 'pix',
 'theta',
 'phi']

In [75]:
no_rm30.drop(['Unnamed: 0', 'Name', 'z', 'MSZ', 'MCXC', 'pix', 'theta', 'phi'], axis='columns', inplace=True)

/home/rt2122/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [76]:
no_rm30.drop(['RedMAPPer'], axis='columns', inplace=True)

In [77]:
no_rm30.head()

          RAdeg      DEdeg
295  227.061350  57.891783
299  238.134593  62.054477
303  218.838751  55.141350
306  223.248775  58.036577
309  246.903435  65.396317

In [78]:
no_rm30.shape

(40, 2)

In [79]:
planck6 = no_rm30

In [81]:
planck_no_z6 = planck_no_z[planck_no_z['pix'] == 6]
planck_no_z6.drop(['Unnamed: 0', 'Name', 'z', 'MSZ', 'MCXC', 'pix','RedMAPPer'], axis='columns', inplace=True)

/home/rt2122/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [82]:
planck_no_z6.shape

(18, 2)

In [83]:
mcxc6 = mcxcwp[mcxcwp['pix'] == 6]
list(mcxc6)

['Unnamed: 0', 'MCXC', 'OName', 'AName', 'RAdeg', 'DEdeg', 'z', 'M500', 'pix']

In [84]:
mcxc6.drop(['Unnamed: 0', 'MCXC', 'OName', 
            'AName', 'z', 'M500', 'pix'], inplace=True, axis='columns')

/home/rt2122/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [85]:
mcxc6.head()

       RAdeg   DEdeg
528  172.005  75.490
535  173.488  75.116
555  177.918  81.077
591  184.311  69.670
597  185.072  75.370

In [86]:
pm6 = pd.concat([planck6, planck_no_z6])

In [87]:
pm6.head()

          RAdeg      DEdeg
295  227.061350  57.891783
299  238.134593  62.054477
303  218.838751  55.141350
306  223.248775  58.036577
309  246.903435  65.396317

In [88]:
pm6.shape

(58, 2)

In [89]:
pm6 = pd.concat([pm6, mcxc6])

In [90]:
pm6.shape

(108, 2)

In [91]:
pm6.to_csv('tile6.csv')

In [38]:
pm6 = pd.concat([planck_z, planck_no_z, mcxcwp])

In [39]:
pm6.head()

                 Name       RAdeg      DEdeg       z      M500  pix       Cat
0  PSZ2 G000.04+45.13  229.190512  -1.017222  0.1198  3.962411    2  planck_z
1  PSZ2 G000.13+78.04  203.558683  20.255990  0.1710  5.122391    3  planck_z
2  PSZ2 G000.40-41.86  316.084485 -41.354169  0.1651  5.297053   34  planck_z
3  PSZ2 G000.77-35.69  307.972844 -40.598725  0.3416  6.333562   16  planck_z
4  PSZ2 G002.08-68.28  349.632431 -36.332559  0.1400  2.835297   32  planck_z

In [40]:
pm6.shape

(2846, 7)

In [41]:
pm6.to_csv('./planck_mcxc_w_pix.csv')